@import '../_variables';

.bp-button {
  display: inline-block;
  background-color: #ffffff;
  @include font-mobile-text-btn;
  text-decoration: none;
  padding: 15px 30px;
}

@media (min-width: 768px) {
  .bp-button {
    @include font-desktop-text-btn;
    padding: 15px 50px;
  }
}