/*
    Colors:
*/

$color-color-primary: #000000;
$color-color-secondary: #ffffff;

/*
    Font Styles:
*/

/* desktop-text-h1 font style */
$font-desktop-text-h-1-font-size: 60px;
$font-desktop-text-h-1-line-height: 60px;
$font-desktop-text-h-1-text-align: left;
$font-desktop-text-h-1-color: #ffffff;
$font-desktop-text-h-1-font-style: normal;
$font-desktop-text-h-1-font-weight: 800;
$font-desktop-text-h-1-font-family: Public Sans;

@mixin font-desktop-text-h-1 () {
  font-size: $font-desktop-text-h-1-font-size;
  line-height: $font-desktop-text-h-1-line-height;
  text-align: $font-desktop-text-h-1-text-align;
  color: $font-desktop-text-h-1-color;
  font-style: $font-desktop-text-h-1-font-style;
  font-weight: $font-desktop-text-h-1-font-weight;
  font-family: $font-desktop-text-h-1-font-family;
}

/* desktop-text-body font style */
$font-desktop-text-body-font-size: 28px;
$font-desktop-text-body-line-height: 38px;
$font-desktop-text-body-text-align: left;
$font-desktop-text-body-color: #ffffff;
$font-desktop-text-body-font-style: normal;
$font-desktop-text-body-font-weight: 400;
$font-desktop-text-body-font-family: Public Sans;

@mixin font-desktop-text-body () {
  font-size: $font-desktop-text-body-font-size;
  line-height: $font-desktop-text-body-line-height;
  text-align: $font-desktop-text-body-text-align;
  color: $font-desktop-text-body-color;
  font-style: $font-desktop-text-body-font-style;
  font-weight: $font-desktop-text-body-font-weight;
  font-family: $font-desktop-text-body-font-family;
}

/* desktop-text-h2 font style */
$font-desktop-text-h-2-font-size: 28px;
$font-desktop-text-h-2-line-height: 38px;
$font-desktop-text-h-2-text-align: left;
$font-desktop-text-h-2-color: #ffffff;
$font-desktop-text-h-2-font-style: normal;
$font-desktop-text-h-2-font-weight: 400;
$font-desktop-text-h-2-font-family: Public Sans;

@mixin font-desktop-text-h-2 () {
  font-size: $font-desktop-text-h-2-font-size;
  line-height: $font-desktop-text-h-2-line-height;
  text-align: $font-desktop-text-h-2-text-align;
  color: $font-desktop-text-h-2-color;
  font-style: $font-desktop-text-h-2-font-style;
  font-weight: $font-desktop-text-h-2-font-weight;
  font-family: $font-desktop-text-h-2-font-family;
}

/* mobile-text-h1 font style */
$font-mobile-text-h-1-font-size: 36px;
$font-mobile-text-h-1-line-height: 36px;
$font-mobile-text-h-1-text-align: left;
$font-mobile-text-h-1-color: #ffffff;
$font-mobile-text-h-1-font-style: normal;
$font-mobile-text-h-1-font-weight: 800;
$font-mobile-text-h-1-font-family: Public Sans;

@mixin font-mobile-text-h-1 () {
  font-size: $font-mobile-text-h-1-font-size;
  line-height: $font-mobile-text-h-1-line-height;
  text-align: $font-mobile-text-h-1-text-align;
  color: $font-mobile-text-h-1-color;
  font-style: $font-mobile-text-h-1-font-style;
  font-weight: $font-mobile-text-h-1-font-weight;
  font-family: $font-mobile-text-h-1-font-family;
}

/* mobile-text-h2 font style */
$font-mobile-text-h-2-font-size: 16px;
$font-mobile-text-h-2-line-height: 21px;
$font-mobile-text-h-2-text-align: left;
$font-mobile-text-h-2-color: #ffffff;
$font-mobile-text-h-2-font-style: normal;
$font-mobile-text-h-2-font-weight: 400;
$font-mobile-text-h-2-font-family: Public Sans;

@mixin font-mobile-text-h-2 () {
  font-size: $font-mobile-text-h-2-font-size;
  line-height: $font-mobile-text-h-2-line-height;
  text-align: $font-mobile-text-h-2-text-align;
  color: $font-mobile-text-h-2-color;
  font-style: $font-mobile-text-h-2-font-style;
  font-weight: $font-mobile-text-h-2-font-weight;
  font-family: $font-mobile-text-h-2-font-family;
}

/* mobile-text-body font style */
$font-mobile-text-body-font-size: 16px;
$font-mobile-text-body-line-height: 21px;
$font-mobile-text-body-text-align: left;
$font-mobile-text-body-color: #ffffff;
$font-mobile-text-body-font-style: normal;
$font-mobile-text-body-font-weight: 400;
$font-mobile-text-body-font-family: Public Sans;

@mixin font-mobile-text-body () {
  font-size: $font-mobile-text-body-font-size;
  line-height: $font-mobile-text-body-line-height;
  text-align: $font-mobile-text-body-text-align;
  color: $font-mobile-text-body-color;
  font-style: $font-mobile-text-body-font-style;
  font-weight: $font-mobile-text-body-font-weight;
  font-family: $font-mobile-text-body-font-family;
}

/* mobile-text-btn font style */
$font-mobile-text-btn-font-size: 16px;
$font-mobile-text-btn-line-height: normal;
$font-mobile-text-btn-text-align: left;
$font-mobile-text-btn-color: #000000;
$font-mobile-text-btn-font-style: normal;
$font-mobile-text-btn-font-weight: bold;
$font-mobile-text-btn-font-family: Public Sans;

@mixin font-mobile-text-btn () {
  font-size: $font-mobile-text-btn-font-size;
  line-height: $font-mobile-text-btn-line-height;
  text-align: $font-mobile-text-btn-text-align;
  color: $font-mobile-text-btn-color;
  font-style: $font-mobile-text-btn-font-style;
  font-weight: $font-mobile-text-btn-font-weight;
  font-family: $font-mobile-text-btn-font-family;
}

/* desktop-text-btn font style */
$font-desktop-text-btn-font-size: 28px;
$font-desktop-text-btn-line-height: normal;
$font-desktop-text-btn-text-align: left;
$font-desktop-text-btn-color: #000000;
$font-desktop-text-btn-font-style: normal;
$font-desktop-text-btn-font-weight: bold;
$font-desktop-text-btn-font-family: Public Sans;

@mixin font-desktop-text-btn () {
  font-size: $font-desktop-text-btn-font-size;
  line-height: $font-desktop-text-btn-line-height;
  text-align: $font-desktop-text-btn-text-align;
  color: $font-desktop-text-btn-color;
  font-style: $font-desktop-text-btn-font-style;
  font-weight: $font-desktop-text-btn-font-weight;
  font-family: $font-desktop-text-btn-font-family;
}